* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  margin: 2rem;

  &:has(.progress__hide:checked) {
    #arc {
      visibility: hidden;
    }
  }
}

h1 {
  font-weight: 700;
}

section {
  width: 100%;
  container-type: inline-size;
}
